*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100%;
	background-color:#F0F0F0;
	font-family: sans-serif;
}
.main-containers{
	padding: 20px;
	margin:80px auto;
	background-color: white;
	width: 900px;
	height: 600px;
	border-radius: 20px;
}
.image-form .logo{
	display: flex;
	flex-direction: column;
}
.image-form .logo a{
	font-weight: 100;
	color:black;
	margin-top: 50px;
}
.image-form{
	padding: 50px;
	display: flex;
}
.form{
	padding-left:70px;
}
.form h2{
	text-align: start;
	font-size: 40px;
	font-weight: 700;
}
.logins{
	padding-top: 40px;
	display: flex;

}
.logins i{
	padding-left: 10px;
	font-size:25px;
}
.image-form .form form{
	display:flex;
	flex-direction: column;
}
input{
	border: none;
	border-bottom: 1px solid black;
	height: 40px;
	width: 300px;
	margin: 15px;
}
input[type=checkbox]{
	width: 15px;
}
input[type=submit]{
	margin-top: 30px;
	color: white;
	border: none;
	width: 100px;
	height: 50px;
	border-radius: 5px;
	background-color:#1C82AD;
}
.check{
	display: flex;
}
.check span{
	padding-top: 20px;
}
.link-links{
	display: flex;
}